
button.open-new-question {
    display: block;
    border: none;
    background: #EFBED2;
    color: #FFF;
    padding: 12px;
    text-align: left;
    margin-left: 53px;
    border-radius: 8px;
    margin-top: 32px;
    cursor: pointer;
}

button.open-new-question:hover {
    background-color: #575757;
}

div.questions-list > div {
    display: block;
    width: calc(100% - 128px);
    background: #EFBED2;
    color: #FFF;
    padding:12px;
    margin: 12px auto;
    text-align: left;
    border-radius: 8px;
    cursor: pointer;
}


div.questions-list > div:hover {
    background-color: #575757;
}

span.no-questions {
    display: block;
    background: #575757;
    width: 280px;
    color: #FFF;
    padding:12px;
    margin: 12px auto;
    text-align: center;
    border-radius: 8px;
}